body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}
:root {
  --maincolor: #007bff;
  --secondcolor: white;
}
/* start navber */
header {
  background-color: var(--maincolor);
  color: var(--secondcolor);
  padding: 40px 0;
  text-align: center;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: var(--secondcolor);
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
nav a {
  color: var(--secondcolor);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}



/* end navbar */
/* start article */
article {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

article h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

article p {
  color: #666;
  line-height: 1.6;
}
/* end article */
/* start sidebar */
.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.sidebar h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: var(--maincolor);
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
/* end sidebar */
/* scroll */
.scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
/* start footer */
footer {
  background-color: #343a40;
  color: var(--secondcolor);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  margin: 0;
}
/* end footer */
